Install_configure_chcolatey_winget.exe
Uniget_installed_packages
installed packages
megalinter-reports
windows_configuration_designer/main.ppkg
windows_configuration_designer/main.cat
Fonts
Windows_Deployment_Software
